.tabs-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  .tab {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px 5px 0px 5px;
    cursor: pointer;
    &.highlight {
      border-bottom: 5px solid #de257a;
      border-radius: 2px;
      background-color: #4e4e4e;
    }
  }

  .download-code {
    border-radius: 2px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
    border: 2px solid transparent;
    &:hover {
      background-color: #4e4e4e;
      border-radius: 2px;
      border-bottom: 5px solid #de257a;
    }
  }
}
